.card-actions {
  display: flex;
  align-items: center;
}

.card-action {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 5px 0;
}

.card-action label {
  padding: 20px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-action.approve label {
  border-color: green;
}

.card-action.pending label {
  border-color: #ddd;
}

.card-action.reject label {
  border-color: red;
}

.card-action input {
  margin: 0 0 0 5px !important;
}

